/.svn
bin
obj
*.dbml
*.dbmdl
*.user
*.log
*.ide-shm
*.ide-wal
/dist/*
/packages/*
/publish/*
/*.suo
/.vs
/.build
/.nuget
*/log/
_Resharper.Caches/
teamcityLog.log
*node_modules*
*ncrunch*
node_modules/
*NCrunch*
*.nupkg
_Resharper.Caches/
# QUnit / Chutzpah test files
test/**/*.test.html